* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/* Main Form Styles */

#form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #494949;
	height: 100vh;
}

#form {
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: center;
	gap: 16px;
	border-radius: 16px;
	background-color: #f2f2f2;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid #ccc;
	box-sizing: border-box;
}

#form .form-button {
	width: fit-content;
	height: fit-content;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	background-color: black;
	color: white;
	font-size: 1.25rem;
}

#game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	align-items: center;
	gap: 1rem;
	display: none;
}

.container-top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 70vw;
	gap: 8px;
}

.container-top button {
	width: fit-content;
	height: fit-content;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	background-color: black;
	color: white;
	font-size: 1.25rem;
}

.active {
	background: #000;
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	letter-spacing: 4px;
	font-size: 2rem;
	padding: 8px 1.5rem;
	border-radius: 8px;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 70vw;
	height: 70vh;
}

.board .cell {
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	font-size: 3rem;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.container-top button {
		font-size: 14px;
		border-radius: 8px;
	}

	.active {
		letter-spacing: 2px;
		align-items: center;
		font-size: 1rem;
		padding: 1rem 1.5rem;
	}

	.board {
		height: 40vh;
	}

	.board .cell {
		font-size: 2rem;
	}
}
